body {
  font-family: 'Ysabeau', sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
  background-color: #fff8fe;
  color: #182318;
  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.app-container {
  margin: 1rem;
  @media only screen and (max-width: 600px) {
    margin: 0.5rem;
  }
}

.page {
  animation: fadeIn 1s;
  margin-bottom: 3rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  33% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(5px); }
  100% { transform: translateX(0px); }
}

h1 {
  font-size: 28px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5rem;
  @media only screen and (max-width: 600px) {
    font-size: 22px;
  }
}

p {
  margin-top: 0;
}

a {
  color: #8c6b10;
}

a:hover {
  color: #8c6b10;
}

nav a {
  color: rgb(33, 37, 41);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 24px;
  @media only screen and (max-width: 600px) {
    font-size: 22px;
  }
}

nav a:hover {
  color: rgb(33, 37, 41);
}

.navbar-nav {
  margin: auto;
}

.nav-link {
  padding: 0 !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse {
  margin-top: 1rem;
}

.navbar-expand-lg {
  margin-bottom: 2rem;
  @media only screen and (max-width: 991px) {
    margin-top: -4.5rem;
  }
  @media only screen and (max-width: 600px) {
    margin-top: -3.75rem;
  }
}

.home-header-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

nav a.active, .home-header {
  border-bottom: solid 2px #d3c5a0;
  @media only screen and (max-width: 991px) {
    border-bottom: unset;
  }
}

.home-subheader {
  margin-bottom: 1rem;
}

.header {
  font-family: 'La Belle Aurore', cursive;
  font-size: 48px;
  margin-top: 2rem;
  @media only screen and (max-width: 600px) {
    font-size: 32px;
  }
}

.header a {
  color: #182318;
  text-decoration: none;
}

.home-img {
  margin-bottom: 2rem;
  width: 75%;
  max-width: 750px;
  @media only screen and (max-width: 600px) {
    width: 95%;
    max-width: unset;
  }
}

.more-details-link {
  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    animation: slide 2s ease-in-out infinite;
  }
}

.arrow {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.alternating-content {
  width: 75%;
  max-width: 1100px;
  margin: auto;
}

.alternating-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin: 4rem auto;
  @media only screen and (max-width: 1100px) {
    max-width: 520px;
    margin: 2rem auto;
  }
}

.alternating-row.even-row {
  flex-wrap: wrap;
}

.story .alternating-row {
  margin: 2rem auto;
  flex-wrap: wrap;
  @media only screen and (max-width: 600px) {
    margin-bottom: 3rem;
  }
}

.story .alternating-row.even-row {
  flex-wrap: wrap-reverse;
}

.alternating-row div {
  width: 48%;
  @media only screen and (max-width: 1100px) {
    width: 100%;
  }
}

.logistics-header {
  margin-bottom: 1.5rem;
}

.logistics-img {
  max-width: 100%;
  max-height: 400px;
  margin-bottom: 1rem;
}

.story-img {
  margin: 0.4rem;
}

.story-img.thumbnail:hover {
  cursor: zoom-in;
}

.modal-content {
  border-radius: 0;
}

.modal:hover {
  cursor: zoom-out;
}

.left-align {
  text-align: left;
  @media only screen and (max-width: 1100px) {
    text-align: unset;
  }
}

.right-align {
  text-align: right;
  @media only screen and (max-width: 1100px) {
    text-align: unset;
  }
}
